body {
    background-color: #abd2fa;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

#mainNavbar .navbar-brand {
    color: #7692ff;
}

#mainNavbar .nav-link {
    color: white;
}


#mainNavbar .nav-link:hover {
    color: #7692ff;
}


#mainNavbar {
    font-size: 1.4rem;
    letter-spacing: .1rem;
}
ul>li {
    /* text-align:center; */
}
.Experience{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.Experience>img{
    max-height: 200px;
}
#headshot{
    border-radius: 2%;
    border: 0.2em solid #c5283d;
}
h3 {
    text-align: center;
    /* color:#fbfbff; */
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    /* color: #59cd90; */
}
#flexT {
    width: 100%;
    height: 500px;
    /* border: 2px solid #003049; */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    /* max-height: 500px;
    max-width: 500px; */

}
#flexT img{
    /* this is a very important property */
    height:33%;  
    /* width: 100%; */
    margin: 1%;
}
@media (max-width:960px){
    #flexT {
        height: 100px;
        padding: 0%;
    }
    #flexT img{
        /* this is a very important property */
        height:100%;  
        /* width: 100%; */
        margin: 1%;
    }
}
footer {
    background-color: #392f5a;
    margin-top: 10%;
    height: 100px;
    text-align: center;
    padding-top: 40px;
    color: white;
}

.center {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
iframe {
    width: 100%;
    border-radius: 2%;
    border: 0.1em solid #c5283d;
} 
#ubc{
    max-height:200px;
    /* padding:0px; */
}

.centerI {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2 {
    color: #7692ff;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: 2px solid #c5283d;
    border-bottom: 2px solid #c5283d;
    width: 100%;
    padding:1em;
    /* border-top: #c5283d;
    border-bottom: #c5283d; */
}
hr{
    /* border-color: #c5283d; */
    /* color: #c5283d; */
    /* height: 10px; */
    /* border: none;
    height: 20px; */
    /* Set the hr color */
    /* color: #333; old IE */
    /* background-color: #333; Modern Browsers */
}
#topDiv{
    margin-top: 5%;
}
ul {
    list-style: circle;
}

.btn {
    background-color:#392f5a;
    color: white;
}

.btn:hover {
    background-color:#7692ff;
    border-top: #c5283d;
    color: white;
}
h4 {
    margin-top: 5%;
    font-style:italic;
    text-align:center;
}

.navbar {
    background: #392f5a;
}

@media (min-width:768px){
    br{
        display: none;
    }
    h4{
        text-align:left;
    }
}
/* 
.navbar.scrolled {
    background:#392f5a;
} */
